<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <script src="/js/heart.js"> </script>
        <section class="aligner-container">
            <div class="product">

                <div class="title-heart">
                    <!-- <div class="title-detail"> -->
                    <div class="title-detail" data-id="<%= product.id %>"> 
                        <h2><%= product.name %></h2>
                    </div>

                    <div class="favorite-heart" id="heart" data-id="<%= product.id %>" >

                    </div>
                </div>

                

                <div class="product-detail">
                    <div class="img-div">
                        <img class="img-main" src="/img/products/<%= product.image %>" alt="Imagen del producto">
                    </div>
                </div>
                <div class="product-price-and-shipping">
                    <div class="price-discount">
                        <div class="price-detail">
                           <p>$<%= product.price %></p> 
                        </div> 
                        <div class="discount-detail">
                            <% if (product.discount) { %>
                               <p><%= product.discount %>%</p>
                           <% } %>
                        </div>
                    </div> 
                    
                    <div class="ship-container">
                        <div class="info-ficha top-file">
                                <div class="img-ship">
                                    <img src="../../img/detalle/icono-ahora-12.png">
                                </div> 
                                <div class="ship-text">
                                    <p>12 cuotas sin interés de $<%= Math.round(Number(product.price) / 12 * 100, 2)/100 %></p> 
                                    <div>
                                        <a class="links-ship" id="dues-see">Ver cuotas</a>
                                    </div>
                                </div>
                        </div>

                        <div id="dues">
                            <div class="modal-wrapper">
                                <div class="modal-content">
                                    <h3>Pagá en cuotas con Mercado Pago</h3>

                                    <div class="info-ficha-detail top-file">
                                        <div class="img-ship-detail">
                                            <img src="../../img/detalle/icono-ahora-12.png">
                                        </div> 
                                        <div class="ship-text-detail">
                                            <p>3 cuotas sin interés de $<%= Math.round(Number(product.price) / 3 * 100, 2)/100 %></p> 
                                        </div>
                                    </div>
                                    <div class="info-ficha-detail top-file">
                                        <div class="img-ship-detail">
                                            <img src="../../img/detalle/m-pago.jpg">
                                        </div> 
                                        <div class="ship-text-detail">
                                            <p>6 cuotas sin interés de $<%= Math.round(Number(product.price) / 6 * 100, 2)/100 %></p> 
                                        </div>
                                    </div>
                                    <div class="info-ficha-detail top-file">
                                        <div class="img-ship-detail">
                                            <img src="../../img/detalle/m-pago.jpg">
                                        </div> 
                                        <div class="ship-text-detail">
                                            <p>9 cuotas sin interés de $<%= Math.round(Number(product.price) / 9 * 100, 2)/100 %></p> 
                                        </div>
                                    </div>

                                    <div class="info-ficha-detail top-file">
                                        <div class="img-ship-detail">
                                            <img src="../../img/detalle/m-pago.jpg">
                                        </div> 
                                        <div class="ship-text-detail">
                                            <p>12 cuotas sin interés de $<%= Math.round(Number(product.price) / 12 * 100, 2)/100 %></p> 
                                        </div>
                                    </div>

                                
                                    <div class="div-button-detail">
                                        <button class="button-detail" id="cerrar-modal">Cerrar</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="info-ficha stock">
                            <div class="icons-ship">
                                <i class="far fa-check-circle check"></i>
                            </div> 
                            <div class="ship-text">
                                <p class="stock">STOCK DISPONIBLE</p> 
                            </div>
                        </div>
                        <div class="info-ficha">
                            <div>
                                <i class="fas fa-store icon-store"></i>
                            </div> 
                            <div class="retiro-text">
                                <span>Retiro en Tienda</span> <span class="green">¡GRATIS!</span>
                                <div>
                                    <P>Belgrano (CABA)</P>
                                </div>
                            </div>
                        </div>
                        <div class="info-ficha">
                            <div class="truck-ship">
                                <i class="fas fa-truck"></i>
                            </div> 
                            <div class="retiro-text">
                                <span>Envios CABA</span> <span class="green">¡GRATIS!</span>
                                <div>
                                    <P>A toda Capital Federal</P>
                                </div>
                            </div>
                        </div>
                        <div class="info-ficha ship-country">
                            <div class="truck-ship">
                                <i class="fas fa-truck"></i>
                            </div> 
                            <div class="retiro-text">
                                <span>Envios a todo el país</span>
                                <div>
                                    <a class="links-ship" id="shipping-see">Ver costos de envío</a>
                                </div>
                            </div>
                        </div>

                        <div id="shipping">
                            <div class="modal-wrapper-shipping">
                                <div class="modal-content">
                                    <h3>Envíos a todo el país</h3>

                                    <div class="info-ficha-detail top-file">
                                        <div class="img-ship-detail">
                                            <i class="fas fa-truck"></i>
                                        </div> 
                                        <div class="ship-text-detail">
                                            <p>Entre Ríos, Santa Fe, Córdoba, La Pampa $<%= Math.round(Number(product.price) / 85 * 100, 2)/100 %></p> 
                                        </div>
                                    </div>
                                    <div class="info-ficha-detail top-file">
                                        <div class="img-ship-detail">
                                            <i class="fas fa-truck"></i>
                                        </div> 
                                        <div class="ship-text-detail">
                                            <p>Río Negro, Neuquén, Mendoza, San Juan $<%= Math.round(Number(product.price) / 75 * 100, 2)/100 %></p> 
                                        </div>
                                    </div>
                                    <div class="info-ficha-detail top-file">
                                        <div class="img-ship-detail">
                                            <i class="fas fa-truck"></i>
                                        </div> 
                                        <div class="ship-text-detail">
                                            <p>Resto del país $<%= Math.round(Number(product.price) / 70 * 100, 2)/100 %></p> 
                                        </div>
                                    </div>
                                
                                    <div class="div-button-detail">
                                        <button class="button-detail" id="cerrar-modal-envios">Cerrar</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="info-ficha">
                            <div class="warranty">
                                <i class="fas fa-shield-alt"></i>
                            </div> 
                            <div class="warranty-text">
                                <span>GARANTÍA</span>
                                <div>
                                    <p>180 días</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="div-quantity" data-id="<%= product.id %>"
                    >                 
                    <div class="cantidad">
                        <input min="1" max="10" type="number" value="1" id="prodcantidad"> 
                    </div>
                    <div >
                        <button  
                        class="div-button agregar-carrito" 
                        id="<%= product.id %>"
                        data-id="<%= product.id %>"
                        >
                            Agregar al carro <i class="fas fa-shopping-cart"></i></button>
                    </div>
                </div>

                <div class="product-features">
                    <div class="feature" data-id="<%= product.id %>"> 
                        <h2>Características del producto</h2>
                        <h4><%= product.features %></h4>
                    </div>
                </div>
                
                <% if ( locals.userLogged && locals.userLogged.user_type_id == 1)  { %>
                    <div class="adminOptions">

                        <div class="prod-edit">                 
                            <div>
                                <a class="div-button"  href="/productos/<%= product.id %>/editar">Editar Producto</a>
                            </div>
                        </div>
                
                    </div>
                <%  } %>
                
                <div class="prod-recomended">
                    <h1>Productos <strong>Recomendados</strong></h1>
                           
                    <div class="row-all products-list">
                        <% products.forEach((product)=>{ %>
                          <div class="col-4 col-detail">
                                  <a href="/productos/<%= product.dataValues.id %>">
                                      <div class="image">
                                      <img src="/img/products/<%= product.dataValues.image %>" alt="<%=product.dataValues.name %>">
                                      </div>
                                      
                                      <div class="prod-description">
                                          <h4>
                                          <%=product.dataValues.name %>
                                          </h4> <!-- tienen que ser máximo 25 letras-->
                                      
                                          <p>
                                              $<%=product.dataValues.price %> 
                                          </p>
                                      </div>
                                    </a>
  
                                    <div class="chart-button">
                                      <button data-id="<%=product.dataValues.id %>" id="#<%=product.dataValues.id %>" class="button-chart agregar-carrito" type="submit">
                                          Agregar al carro <i class="fas fa-shopping-cart "></i>
                                      </button>
                                    </div>  
  
                          </div>
                        <% }); %> 
                    </div>
                </div>

            </div>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>

    <script src="/js/fullChart.js"></script>
    <script src="/js/detailChart.js"></script>

    <script src="/js/dues-detail.js"></script>
    <script src="/js/shipping-detail.js"></script>


</body>
</html>