<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main> 
        <div class="aligner-container create-product">
            <div class="create-form">
                <form action="/productos/<%= productToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="productName">
                        <input value="<%= productToEdit.name %>" type="text" name="product-name" id="product-name" placeholder="Nombre del producto" >
                    </div>
                    <div class="description">
                        <input value="<%= productToEdit.features %>" type="text-area" name="features" id="features" placeholder="Descripción">
                    </div>
                    <div>
                        <input value="<%= productToEdit.price %>" type="number" name="price" id="price" placeholder="Precio">
                    </div>
                    <div>
                        <input value="<%= productToEdit.discount %>" type="number" name="discount" id="discount" placeholder="Descuento" max=50>
                    </div>
                    <div class="product-category">
                        <select name="category" id="category" placeholder="Categoría">
                        <option>Seleccione una categoría</option>
                        <% 
                            let categories = ['Motherboards', 'Memorias', 'Procesadores', 'Almacenamiento', 'Perifericos', 'Pantallas', 'Placas de video', 'Gabinetes', 'Oficina']
                        %> 
                        <% for (const oneCategory of categories) { %> 
                            <option value="<%= oneCategory %>"><%= oneCategory %></option>
                        <% } %> 

                        </select>
                    </div>
                    <div class="file-div">
                        <label for="image">Seleccionar imagen/es</label>
                        <input value="" type="file" class="file" name="image" id="image" placeholder="Imagen/es">
                    </div>
                    <div class="extra">
                        <input value="<%= productToEdit.anythingElse %>" type="text-area" name="anythingElse" id="anythingElse" placeholder="Otras consideraciones">
                    </div>
                    <input value="Editar" class="btn-login" type="submit">
                </form>
                <form action="/productos/borrando?_method=DELETE" method="POST" >
                    <input type="submit" name="delete" id="delete" class="btn-danger" value="Eliminar producto">
                </form>
            </div>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %> >
</body>
</html>