<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main> 
        <div class="create-prod">
            <div class="create-form">
                <h1 class="h1-create">Editar Producto</h1>

                <form action="/productos/<%= productToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

                    <div class="form-row">
                        <input value="<%= productToEdit.name %>" type="text" name="name" id="name">
                        <label class="lbl-name">
                            <span class="text-name">Nombre del Producto</span>
                        </label>
                    </div>
                    <% if (locals.errors && errors.name) { %>
                        <p class="feedback is-danger"><%= errors.name.msg %></p>
                    <% } %>

                    <div class="form-row">
                        <input value="<%= productToEdit.price %>" type="number" name="price" id="price">
                        <label class="lbl-name">
                            <span class="text-name">Precio</span>
                        </label>
                    </div>
                    <% if (locals.errors && errors.price) { %>
                        <p class="feedback is-danger"><%= errors.price.msg %></p>
                    <% } %>

                    <div class="form-row">
                        <input value="<%= productToEdit.discount %>" type="number" name="discount" id="discount">
                        <label class="lbl-name">
                            <span class="text-name">Descuento</span>
                        </label>
                    </div>
                    <% if (locals.errors && errors.discount) { %>
                        <p class="feedback is-danger"><%= errors.discount.msg %></p>
                    <% } %>

                    <div class="form-row">
                        <input value="<%= productToEdit.features %>" type="text-area" name="features" id="features">
                        <label class="lbl-name">
                            <span class="text-name">Características</span>
                        </label>
                    </div>
                    <% if (locals.errors && errors.features) { %>
                        <p class="feedback is-danger"><%= errors.features.msg %></p>
                    <% } %>

                    <div class="form-row">
                        <select name="category" id="category">
                            <option value="0">Seleccione una categoría</option>   
                            <% categories.forEach((category)=>{ %>
                                <option value="<%= category.dataValues.id %>"><%= category.dataValues.name %></option>
                            <% }) %>
                        </select>
                    </div>
                    <% if (locals.errors && errors.category) { %>
                        <p class="feedback is-danger"><%= errors.category.msg %></p>
                    <% } %>

                    <div class="prod-img">
                        <label for="image"></label>
                        <input type="file" class="file" name="image" id="image" >
                    </div>
                    <% if (locals.errors && errors.image) { %>
                        <p class="feedback is-danger"><%= errors.image.msg %></p>
                    <% } %>

                    <div>
                        <input class="btn-create" type="submit" value="Editar">
                    </div>
                    
                    <form action="/productos/<%= productToEdit.id %>?_method=DELETE" method="POST" >
                        <input class="btn-delete" type="submit" name="delete" id="delete" value="Eliminar producto">
                    </form>

                </form>

            </div>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %> >
</body>
</html>