<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
    <div class="aligner-container">
       
            <div class= "login-container"> 
            <form class="form-login"  action="/users/create" method="POST" enctype="multipart/form-data">
                <h1> Registrarse </h1>
                <div class="textbox-login">
                    <input type ="text" 
                    placeholder ="Nombre" 
                    name ="first_name" 
                    id="first_name" 
                    class ="form-control <%= locals.errors && errors.first_name ? 'is-invalid' : null %>"
                    value="<%= locals.oldData ? oldData.first_name : null %>"
                    >*
                </div>
                <% if (locals.errors && errors.first_name) { %>
                    <div class="text-danger centrar">
                        <%= errors.first_name.msg %>
                    </div>
                <% } %>
                <p id="feedback-first_name" class="hidden feedback is-danger">El nombre debe tener al menos 2 caractéres</p>
                
                <div class="textbox-login">
                    <input type="text" placeholder="Apellido" 
                    name="last_name"  
                    id="last_name"  
                    class ="form-control <%= locals.errors && errors.last_name ? 'is-invalid' : null %>"
                    value="<%= locals.oldData ? oldData.last_name : null %>"
                    />*
                </div>
                <% if (locals.errors && errors.last_name) { %>
                    <div class="text-danger centrar">
                        <%= errors.last_name.msg %>
                    </div>
                    <% } %>
                <p id="feedback-last_name" class="hidden feedback is-danger">El apellido debe tener al menos 2 caractéres</p>

                <div class="textbox-login">
                    <input type="email" placeholder="E-Mail" 
                    name="email"  
                    id="email"  
                    class ="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                    value="<%= locals.oldData ? oldData.email : null %>"
                    />*
                </div>
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger centrar">
                        <%= errors.email.msg %>
                    </div>
                    <% } %>
                <p id="feedback-email" class="hidden feedback is-danger">Ingresar un mail correcto</p>

                <div class="textbox-login">
                    <input type="text" placeholder="Telefono" name="telephone" id ="telephone" 
                    value="<%= locals.oldData ? oldData.telephone : null %>"/>
                </div>
                <p id="feedback-telephone" class="hidden feedback is-danger">Debe ingresar un telefono correcto</p>

                <div class="btn-avatar">
                    <!-- <label for="avatar">Seleccionar Imagen Perfil</label> -->
                    <input type="file" class="file" name="avatar" id="avatar" 
                    value="<%= locals.oldData ? oldData.avatar : null %>">
                </div>
                <% if (locals.errors && errors.avatar) { %>
                    <div class="text-danger centrar">
                        <%= errors.avatar.msg %>
                    </div>
                <% } %>
                <p id="feedback-avatar" class="hidden feedback is-danger">Debe ingresar una imagen correcta</p>

                <div class="textbox-login">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" placeholder="Contraseña" 
                    name="password" 
                    id="password" 
                    class ="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                    value="<%= locals.oldData ? oldData.password : null %>"
                    />*
                </div>
                <% if (locals.errors && errors.password) { %>
                    <div class="text-danger centrar">
                        <%= errors.password.msg %>
                    </div>
                <% } %>
                <p id="feedback-password" class="hidden feedback is-danger">La clave debe tener al menos 8 carácteres</p>

                <div class="textbox-login">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <select name="country" id="country">
                        <% if(locals.errors && locals.oldData.country) {%>
                            <option><%= locals.oldData.country %> </option>
                            <% } %>  
                        <option>Selecciona un país</option>
                        <% countries.forEach(country => {%>
                            <option> <%= country %> </option>
                        <%})%>
                    </select>
                </div>
                <% if (locals.errors && errors.country) { %>
                    <div class="text-danger centrar">
                        <%= errors.country.msg %>
                    </div>
                <% } %>
                
                <input class="btn-login" type="submit" value="Registrarse" >

            </form>
        </div>
    </div>

    <div class="go-top-container">
        <div class="go-top-button">
          <i class="fas fa-chevron-up"></i>
        </div>
      </div>
    <script src="/js/user-validation.js"></script>
    <script src="/js/gotop.js"></script>

    <%- include('../partials/footer.ejs') %>
</body>
</html>


<input type="text" class ="form-control <%= locals.errors && errors.country ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.country : null %>"
                    />*