<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
    <div class="aligner-container">
        <div class= "login-container"> 
            
            <form  
                action="/users/<%= user.id %>?_method=PUT" 
                method="POST" class="form-login" 
                enctype="multipart/form-data">
                <h1> Editar Usuario </h1>

                <div class="textbox-login">
                    <input type="email" placeholder="E-Mail" name ="email" value="<%= user.email%>"  />
                </div>
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger centrar">
                        <%= errors.email.msg %>
                    </div>
                <% }%>

                <div class="textbox-login">
                    <input type="text" placeholder="Nombre" name="first_name" id="first_name" value="<%= user.first_name%>"  />
                </div>
                <% if (locals.errors && errors.first_name) { %>
                    <div class="text-danger centrar">
                        <%= errors.first_name.msg %>
                    </div>
                <% }%>
                <p id="feedback-first_name" class="hidden feedback is-danger">El nombre debe tener al menos 2 caractéres</p>
                
                <div class="textbox-login">
                    <input type="text" placeholder="Apellido" name="last_name" id="last_name" value="<%= user.last_name %>"  />
                </div>
                <% if (locals.errors && errors.last_name) { %>
                    <div class="text-danger centrar">
                        <%= errors.last_name.msg %>
                    </div>
                <% }%>
                <p id="feedback-last_name" class="hidden feedback is-danger">El apellido debe tener al menos 2 caractéres</p>

                <div class="textbox-login">
                    <input type="text" placeholder="Telefono" name="telephone" value="<%= user.telephone %>" />
                </div>
                <% if (locals.errors && errors.telephone) { %>
                    <div class="text-danger centrar">
                        <%= errors.telephone.msg %>
                    </div>
                <% }%>
                <p id="feedback-telephone" class="hidden feedback is-danger">Debe ingresar un telefono correcto</p>

                
                <% if(!hidePassword){ %>

                    <!-- Si el usuario que va a modificar esto no es el mismo que el usuario a modificar se asume que es administrador y considero que no tiene que tener acceso a la password -->

                    <div class="textbox-login">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <input type="password" placeholder="Contraseña" name="password"/>
                    </div>
                    <% if (locals.errors && errors.password) { %>
                        <div class="text-danger centrar">
                            <%= errors.password.msg %>
                        </div>
                    <% }%>
                


                    <%} %> 





                <div class="btn-login">
                    <label for="avatar">Seleccionar Imagen Perfil</label>
                    <input type="file" class="file" 
                    value="<%= user.avatar %>"
                    name="avatar" 
                    id="avatar" 
                    placeholder="Imagen" 
                    >
                </div>
                            
                <div class="textbox-login">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <select name="country" id="country">
                        <% if(locals.errors && locals.oldData.country && locals.oldData.country != 'Selecciona un país' ) {%>
                            <option><%= locals.oldData.country %> </option>
                            <% } %>  
                        <option>Selecciona un país</option>
                        <% countries.forEach(country => {%>
                            <option> <%= country %> </option>
                        <%})%>
                    </select>
                </div>
                <% if (locals.errors && errors.country) { %>
                    <div class="text-danger centrar">
                        <%= errors.country.msg %>
                    </div>
                <% } %>      
                <input class="btn-login" type="submit" value="Modificar" >

            </form>
            <form action="/users/<%= user.id %>?_method=DELETE" method="POST" >
                <input type="submit" name="delete" id="delete" class="btn-danger" value="Eliminar Usuario">
            </form>
        </div>
    </div>

    <div class="go-top-container">
        <div class="go-top-button">
          <i class="fas fa-chevron-up"></i>
        </div>
      </div>
    <script src="/js/user-validation.js"></script>
    <script src="/js/gotop.js"></script>

    <%- include('../partials/footer.ejs') %>
</body>
</html>