<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
    <div class="aligner-container">
        <div class= "login-container"> 
            <div class="table__header-title">Listado de Usuarios </div>
            <div class="container-table">
                <div class="table__header"> ID </div>
                <div class="table__header"> Nombre </div>
                <div class="table__header"> Apellido </div>
                <div class="table__header"> E-mail </div>
                <div class="table__header"> Telefono </div>
                <div class="table__header"> Categoria </div>
                <div class="table__header"> Acción </div>
                
                <% users.forEach(user => { %> <!-- para cada usuario que me llega en el array users-->
                    
                    
                    <% if(user.user_type_id == 1) {%>  
                        <div class="table__item admin"><%= user.id %>  </div>
                        <div class="table__item admin"><%= user.first_name %>  </div>
                        <div class="table__item admin"><%= user.last_name %>  </div>
                        <div class="table__item admin"><%= user.email %>  </div>
                        <div class="table__item admin"><%= user.telephone %>  </div>
                        <div class="table__item admin"><%= user.user_type.dataValues.type_name %></div>
                        <div class="table__item-buttons admin">
                            <a class="button" href="/users/<%= user.id %>/edit">
                                <i class="fas fa-pen"></i> 
                            </a>         

                            <form action="/users/<%= user.id %>?_method=DELETE" method="POST" >
                                <button class="delete-user-index" type="submit">
                                    <i class="fas fa-trash"></i> 
                                </button>
                            </form>   
                        </div>
                    <% }else{ %>
                        <div class="table__item"><%= user.id %>  </div>
                        <div class="table__item"><%= user.first_name %>  </div>
                        <div class="table__item"><%= user.last_name %>  </div>
                        <div class="table__item"><%= user.email %>  </div>
                        <div class="table__item"><%= user.telephone %>  </div>
                        <div class="table__item"><%= user.user_type.dataValues.type_name %></div>
                        <div class="table__item-buttons">
                            <a class="button" href="/users/<%= user.id %>/edit">
                                <i class="fas fa-pen"></i>
                            </a>   

                            <form action="/users/<%= user.id %>?_method=DELETE" method="POST" >
                                <button class="delete-user-index" type="submit">
                                    <i class="fas fa-trash"></i> 
                                </button>
                            </form>   
                        </div>
                    <% } %> 




                    
                    
                <% }) %>
                <style>
                    .table__item.admin{
                        background-color: lightgreen;
                    }
                    /*Te dejo esto para que veas nomás, después estilalo como quieras*/
                </style>
            </div>
    </div>

    <div class="go-top-container">
        <div class="go-top-button">
          <i class="fas fa-chevron-up"></i>
        </div>
      </div>

    <script src="/js/gotop.js"></script>

    <%- include('../partials/footer.ejs') %>
</body>
</html>