<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
    <div class="aligner-container">
        <div class= "login-container"> 
            <form class="form-login" action="/users/login" method="POST" >
                <h1>Login </h1>
               
                <div class="textbox-login">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="email" placeholder="E-Mail" name="email" 
                    class ="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                    value="<%= locals.oldData ? oldData.email : null %>"
                     />                    
                </div>
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger centrar">
                        <%= errors.email.msg %>
                    </div>
                    <% } %>
            
                <div class="textbox-login">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" placeholder="Contraseña" name="password" 
                    class ="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                    required/>
                </div>
                <% if (locals.errors && errors.password) { %>
                    <div class="text-danger centrar">
                        <%= errors.password.msg %>
                    </div>
                    <% } %>
            
                <!--  <input class="btn-login" type="button" name="" value="Ingresar" />   !-->
                <input class="btn-login" type="submit" value="Ingresar" >

                <div class="div_p_login">
                    <p> <a class ="link-login" href="/users/recover-pass#recover-pass"> ¿Olvidaste tu contraseña? </a> </p>
                    
                    <p> <a class ="link-login" href="/users/create"> Quiero Registrarme </a> </p>
                </div>
            </form>
        </div>
    </div>

    <%- include('../partials/footer.ejs') %>
</body>
</html>