<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
    <div class="container-profile">
        <h1 class="prof-us-title"><i class="fas fa-user-circle" aria-hidden="true"></i> Perfil del usuario</h1>
        <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="img-avatar">
                        <img class="img-prof-us" src="/img/users/<%= user.avatar %>" />
                    </div>
                </div>
                <div class="col-md-8 prof-us-container" >
                    <div class="profile-user prof-us"> <span class="span-prof-us">Nombre: </span> <%= user.first_name %>  <%= user.last_name %>  </div> 
                    <div class="user-email prof-us"> <span class="span-prof-us">E-mail: </span><%= user.email %> </div>
                    <div class="telephone prof-us"> <span class="span-prof-us">Telefono: </span> <%= user.telephone %> </div>
                    <div class="country prof-us"> <span class="span-prof-us">Pais: </span><%= user.country %> </div>
                </div>

                    <div class="container-btn-prof">
                        <% if ( locals.userLogged && locals.userLogged.user_type_id == 1)  { %>    
                            <div>               
                            <a class="btn-profile-a" href="/users/index">Listado de usuarios</a>    
                            </div>
                            
                        <%  } %>
                        <br>
                        <% if(locals.isLogged){ %>
                            <form action="/users/<%= user.id %>/edit" method="GET">
                                <div> 
                                    <a class="btn-profile-a" href="/users/<%= user.id %>/edit">Editar</a>
                                </div>
                            </form>

                            <form action="/users/<%= user.id%>?_method=DELETE" method="POST">
                                <div>
                                    <button class="btn-profile-delete" type="submit" id="eliminar-usuario">Borrar usuario</button>
                                </div>
                            </form>
                        <%} %>                         
                    </div>
                    <br>
                    </div>      
                
            </div>	   
    </div>
            
    <script src="/js/confirm.js"></script>
    <%- include('../partials/footer.ejs') %>
</body>
</html>