<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="aligner-container">
            <h1>PRODUCTOS</h1>
            <section>
                <h2 id="componentes">Componentes</h2>
                <ul>
                    <%- include('./partials/products/productoComponentesEnLista.ejs') %> 
                </ul>
            </section>
            <section>
                <h2 id="perifericos">Periféricos</h2>
                <ul>
                    <%- include('./partials/products/productoPerifericosEnLista.ejs') %> 
                </ul>
            </section>
            <section>
                <h2 id="gabinetes">Gabinetes</h2>
                <ul>
                    <%- include('./partials/products/productoGabineteEnLista.ejs') %> 
                </ul>
            </section>
            <section>
                <h2 id="sillasgamer">Sillas Gamer</h2>
                <ul>
                    <%- include('./partials/products/productoSillaEnLista.ejs') %> 
                </ul>
            </section>
            <section>
                <h2 id="combos">Combos</h2>
                <ul>
                    <%- include('./partials/products/productoCombosEnLista.ejs') %> 
                </ul>
            </section>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>