<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="aligner-container">
            <% for (let i = 0; i < categories.length; i++) { %>
                <h3> <%= categories[i].dataValues.name %></h3> 
                <% for (let i = 0; i < products.length; i++) { %>
                    <h3> <%= products[i].dataValues.name %> </h3>  <img src ="/img/products/<%= products[i].dataValues.image %>">
                <% } %> 
                
            <% } %> 

                    

        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>