<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="aligner-container">
            <h1>PRODUCTOS</h1>
            <section>
                <h2 id="componentes">Componentes</h2>
                <ul class="section-product-list">
                    <%- include('./partials/products/Componentes.ejs') %> 
                </ul>
            </section>
            <section>
                <h2 id="perifericos">Periféricos</h2>
                <ul class="section-product-list">
                    <%- include('./partials/products/Perifericos.ejs') %> 
                </ul>
            </section>
            <section>
                <h2 id="gabinetes">Gabinetes</h2>
                <ul class="section-product-list">
                    <%- include('./partials/products/Gabinete.ejs') %> 
                </ul>
            </section>
            <section>
                <h2 id="sillasgamer">Sillas Gamer</h2>
                <ul class="section-product-list">
                    <%- include('./partials/products/Sillas.ejs') %> 
                </ul>
            </section>
            <section>
                <h2 id="combos">Combos</h2>
                <ul class="section-product-list">
                    <%- include('./partials/products/Combos.ejs') %> 
                </ul>
            </section>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>