<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="aligner-container"> 

            <% categories.forEach(category => {%>
                <% if (category.dataValues.products.length > 0) {%> 

                    <h2 class="categories"><%= category.dataValues.name %> </h2>
                <%} %>
                    
                    
                <div class="row-all">
                <% products.forEach((product)=>{ %>
                    <div class="col-4">
                        <% if(product.dataValues.category_id == category.dataValues.id){ %>
                            <a href="/productos/<%= product.dataValues.id %>">
                                <div class="image">
                                <img src="/img/products/<%= product.dataValues.image%>" alt="<%=product.dataValues.name %>">
                                </div>
                                
                                <div class="prod-description">
                                    <h4>
                                    <%=product.dataValues.name %>
                                    </h4> <!-- tienen que ser máximo 25 letras-->
                                
                                    <p>
                                        $<%=product.dataValues.price %> 
                                    </p>
                                </div>

                                <div class="chart-button">
                                <button id="#<%=product.dataValues.id%>"  type="submit">
                                    Agregar al carro <i class="fas fa-shopping-cart"></i>
                                </button>
                                </div>

                        <% } %> 
                            </a>
                    </div>
                <%}) %> 

            <%}); %> 

            </div>

        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
