<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="main-container"> 

            <% categories.forEach(category => {%>
                <% if (category.dataValues.products.length > 0) {%> 

                    <h2 class="categories" id="<%= category.dataValues.name %>">
                        <%= category.dataValues.name %> 
                    </h2>
                <%} %>
                    
                    
                <div class="row-all products-list">
                <% products.forEach((product)=>{ %>
                    <% if(product.dataValues.category_id == category.dataValues.id){ %>
                        <div class="col-4 ">
                            <a href="/productos/<%= product.dataValues.id %>">
                                <div class="image">
                                <img src="/img/products/<%= product.dataValues.image%>" alt="<%=product.dataValues.name %>">
                                </div>
                                
                                <div class="prod-description">
                                    <h4>
                                    <%=product.dataValues.name %>
                                    </h4> <!-- tienen que ser máximo 25 letras-->
                                
                                    <p>
                                        $<%=product.dataValues.price %> 
                                    </p>
                                </div>
                                
                            </a>
                            <div class="chart-button">
                                <button data-id="<%=product.dataValues.id %>" id="#<%=product.dataValues.id %>" class="button-chart agregar-carrito pepito" type="submit">
                                    Agregar al carro <i class="fas fa-shopping-cart "></i>
                                </button>
                            </div>                            
                        </div>
                        
                    <% } %> 
                <%}) %> 
            <%}); %> 

            </div>
            
        </div>

        <div class="go-top-container">
            <div class="go-top-button">
                <i class="fas fa-chevron-up"></i>
            </div>
        </div>
    
        <script src="/js/gotop.js"></script>
        <script src="/js/fullChart.js"></script>
        <!-- <script src="/js/carrito.js"></script> -->
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
