<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
    <div class="aligner-container">
        <div class= "login-container"> 
            <form class="form-login" action="">
                <h1>Recuperar Contraseña </h1>
                <div class="textbox-login">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="email" placeholder="E-Mail" name="" required />
                </div>
            
                <input class="btn-login" type="submit" value="Ingresar" >

                <div class="div_p_login">
                    <p> <a class ="link-login" href="/user/register#registrarse"> Quiero Registrarme </a> </p>
                </div>
            </form>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>


<!--
    <!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="aligner-container">
            <div class= "login-container"> 
                <form class="login">
                    <h1 class="h1-login"> RECUPERAR CONTRASEÑA </h1>

                    <div class="contenedor-login">
                        <div class="input_contenedor">
                            <i class="far fa-envelope" icon-login> </i>
                            <input class= "input-login" type="email" name="email"  placeholder="Ingrese E-mail">                 
                        </div>

                    
                    <div class="div-robot">
                        <input type="checkbox" value ="No soy un robot" name="check-robot">
                        <label>No soy un robot</label>
                    </div>
                    <br>
                    <input type="submit" name = "button-recover" value ="Enviar" class="button-login button-login-centrar">
                </form>
            </div> 
        </div>  
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
!-->